<div class="max-w-[248px] lg:w-[358px] relative cursor-pointer transition transform duration-300 hover:scale-105">
    <div>
        <img src="/assets/images/ejemplo.jpg" class="w-full rounded-recipe h-[360px]" alt="">
        <div class="absolute inset-0 bg-gradient-to-dalton from-transparent to-black opacity-90 rounded-recipe p-2"></div>
        <div class="absolute right-3 top-3 flex items-center space-x-1 bg-black/30 text-white px-3 py-2 rounded-full backdrop-blur-md">
            <i class="fa-solid fa-stopwatch"></i>
            <p>45 mins</p>
        </div>
        <!-- Contenedor para el título -->
        <div class="absolute bottom-2 left-0 w-full text-white px-3 py-2">
            <p class="font-poppins font-semibold text-xl">Ensalada de frutas y ensalada</p>
            <!-- <div class="flex mt-2">
                <img src="/assets/images/dalton2.png" class="rounded-full w-6 mr-2" alt="">
                <p class="font-poppins">Dalton Tejada</p>
            </div> -->
        </div>
    </div>
</div>
