


<div class="max-w-[590px] mx-auto">
    <p class="text-xl font-poppins font-semibold mb-4">Encuentra a las personas que te inspiran 🧑🏽‍🍳🥞</p>
    <div class="relative">
        <input type="text" class="pl-10 pr-4 py-2 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Buscar...">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class="fas fa-search text-gray-400"></i>
        </span>
    </div>

    <div class="mt-4">
        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-4">
                <img src="/assets/images/dalton.png" class="rounded-full w-16 mb-2" alt="">
                <div>
                    <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                    <p class="text-gray-400 font-semibold font-poppins text-sm">840 seguidores</p>
                </div>
            </div>
            <button-action label="Seguir" className="rounded-recipe"> </button-action>
        </div>

        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-4">
                <img src="/assets/images/dalton.png" class="rounded-full w-16 mb-2" alt="">
                <div>
                    <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                    <p class="text-gray-400 font-semibold font-poppins text-sm">840 seguidores</p>
                </div>
            </div>
            <button-action label="Seguir" className="rounded-recipe"> </button-action>
        </div>

        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-4">
                <img src="/assets/images/dalton.png" class="rounded-full w-16 mb-2" alt="">
                <div>
                    <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                    <p class="text-gray-400 font-semibold font-poppins text-sm">840 seguidores</p>
                </div>
            </div>
            <button-action label="Seguir" className="rounded-recipe"> </button-action>
        </div>

        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center gap-4">
                <img src="/assets/images/dalton.png" class="rounded-full w-16 mb-2" alt="">
                <div>
                    <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                    <p class="text-gray-400 font-semibold font-poppins text-sm">840 seguidores</p>
                </div>
            </div>
            <button-action label="Seguir" className="rounded-recipe"> </button-action>
        </div>
    </div>
</div>