<div class="max-w-[1280px] mx-auto">

    <div class="flex ">
        <div>
            <img src="/assets/images/dalton2.png" alt="User avatar" class="w-16 rounded-full mr-3" />
        </div>
        <div>
            <p class="text-lg font-bold font-poppins">Hola Dalton</p>
            <p class="text-base font-roboto">¿Tienes algo nuevo que compartir?</p>
            <button-action label="Publicar receta" className="bg-save mt-2"> </button-action>
        </div>

    </div>

    <card-recipe> </card-recipe>


</div>