

  
    <!-- <card-recipe> </card-recipe> -->

<div class="mt-32">
    <div class="w-[980px] m-auto">
        <div class="flex">
            <div>
                <img src="/assets/images/dalton2.png" alt="User avatar" class="w-16 rounded-full mr-3" />
            </div>
            <div>
                <p class="text-lg font-bold font-poppins">Bienvenido Dalton</p>
                <p class="text-base font-roboto">¿Tienes algo nuevo que compartir?</p>
                <button-action label="Publicar receta"> </button-action>
            </div>
        </div>
        <div class="my-4">
            <p class="font-poppins text-2xl font-semibold">Lo nuevo de este mes</p>
        </div>
    </div>
</div>


