<div class="mx-auto max-w-[700px]">
    <div class="flex justify-center">
        <div>
            <!-- SECTION CAROUSEL -->
            <div class="flex justify-center">
                <div>
                    <div class="mb-4 flex justify-center">
                        <img src="/assets/images/food.jpg" class="w-80 rounded-3xl" alt="">
                    </div>
                    <div>
                        <p class="font-poppins text-2xl font-semibold">Ensalada de frutas y verduras con aderezo balsámico</p>
                    </div>
                </div>
            </div>

            <!-- SECTION USER INFO -->
            <div class="py-4 my-4 px-4 border-t border-b border-gray-200 flex justify-between items-center">
                <div class="flex items-center gap-4">
                    <img src="/assets/images/dalton.png" class="rounded-full w-16 mb-2" alt="">
                    <div>
                        <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                        <p class="text-gray-400 font-semibold font-poppins text-sm">840 seguidores</p>
                    </div>
                </div>
                <button-action label="Seguir" className="rounded-recipe"> </button-action>
            </div>

            <!-- SECTION DESCRIPTION -->
            <div class="font-roboto text-base text-justify text-gray-500 font-semibold">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deserunt
                    laudantium officia libero! Quae ea libero inventore odio nobis ab rerum velit sint, obcaecati
                    deleniti, blanditiis totam, adipisci nostrum incidunt nihil mollitia? Corrupti commodi vel eius nemo
                    expedita repellendus similique
                    laborum maiores, incidunt vitae quia! Exercitationem suscipit delectus necessitatibus quae.</p>
            </div>

            <!-- SECTION INFO -->
            <div class="flex justify-around gap-2 my-4">
                <div class="bg-buget p-2 rounded-2xl md:p-4">
                    <div class="flex gap-2 items-center text-primary font-poppins text-sm md:text-base">
                        <i class="fa-regular fa-clock"></i>
                        <p>10 minutos</p>
                    </div>
                    <p class="text-center font-roboto text-sm text-gray-500">Tiempo</p>
                </div>

                <div class="bg-buget p-2 rounded-2xl md:p-4">
                    <div class="flex gap-2 items-center text-primary font-poppins text-sm md:text-base">
                        <i class="fa-regular fa-user"></i>
                        <p>1 servicio</p>
                    </div>
                    <p class="text-center font-roboto text-sm text-gray-500">Personas</p>
                </div>

                <div class="bg-buget p-2 rounded-2xl md:p-4">
                    <div class="flex gap-2 items-center text-primary font-poppins text-sm md:text-base">
                        <i class="fa-regular fa-user"></i>
                        <p>340</p>
                    </div>
                    <p class="text-center font-roboto text-sm text-gray-500">Calorias</p>
                </div>
            </div>
            <div class="border-t border-gray-200"></div>

            <!-- SECTION INGREDIENTS -->
            <div class="my-4">
                <p class="font-poppins text-xl font-semibold mb-4">Ingredientes:</p>

                <div class="gap-4 flex flex-col">
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            1
                        </div>
                        <p>Una cabeza de lechuga</p>
                    </div>
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            2
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, similique.</p>
                    </div>
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            3
                        </div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            3
                        </div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            3
                        </div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="flex">
                        <div class="mr-4 bg-buget rounded-full text-center w-6 h-6 text-primary font-semibold">
                            3
                        </div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="border-t border-gray-200"></div>

            <!-- SECTION INSTRUCTIONS -->
            <div class="my-4">
                <p class="font-poppins text-xl font-semibold mb-4">Intrucciones:</p>

                <div class="gap-4 flex flex-col">
                    <div class="flex">
                        <div class="bg-buget mr-4 rounded-full text-center w-6 h-6 text-primary font-semibold">
                            1
                        </div>
                        <div>
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum fuga officiis obcaecati non soluta sapiente,
                                est possimus nemo delectus corporis laboriosam ad
                                enim porro placeat consequatur molestias at quae earum!</p>
                            <div class="flex justify-around gap-4 my-2">
                                <img src="/assets/images/food.jpg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="bg-buget mr-4 rounded-full text-center w-6 h-6 text-primary font-semibold">
                            2
                        </div>
                        <div>
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum fuga officiis obcaecati non soluta sapiente,
                                est possimus nemo delectus corporis laboriosam ad
                                enim porro placeat consequatur molestias at quae earum!</p>
                            <div class="flex justify-around gap-4 my-2">
                                <img src="/assets/images/food.jpg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="bg-buget mr-4 rounded-full text-center w-6 h-6 text-primary font-semibold">
                            3
                        </div>
                        <div>
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum fuga officiis obcaecati non soluta sapiente,
                                est possimus nemo delectus corporis laboriosam ad
                                enim porro placeat consequatur molestias at quae earum!</p>
                            <div class="flex justify-around gap-4 my-2">
                                <img src="/assets/images/food.jpg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                                <img src="/assets/images/comida.jpeg" class="w-20 rounded-lg md:w-32" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="border-t border-gray-200"></div>

            <!-- SECTION COMMENTS -->
            <div class="my-4">
                <p class="font-poppins text-xl font-semibold mb-4">Comentarios (12)</p>

                <div class="">
                    <div class="card-comment mb-4">
                        <div class="flex items-center gap-4">
                            <img src="/assets/images/dalton.png" class="rounded-full w-12 mb-2" alt="">
                            <div>
                                <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                            </div>
                        </div>
                        <p class="text-justify font-roboto">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Suscipit impedit aliquam praesentium a odio nisi architecto voluptatum, accusantium consequatur
                            neque eligendi!
                            Voluptatibus quasi autem, impedit omnis nulla velit repellat recusandae.</p>
                        <div class="flex mt-2">
                            <i class="fa-regular fa-heart text-primary text-xl mr-2"></i>
                            <span class="text-gray-500 font-semibold font-poppins text-sm mx-4">350</span>
                            <span class="text-gray-500 font-semibold font-poppins text-sm">hace 1 mes</span>
                        </div>
                    </div>

                    <div class="card-comment mb-4">
                        <div class="flex items-center gap-4">
                            <img src="/assets/images/dalton.png" class="rounded-full w-12 mb-2" alt="">
                            <div>
                                <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                            </div>
                        </div>
                        <p class="text-justify font-roboto">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Suscipit impedit aliquam praesentium a odio nisi architecto voluptatum, accusantium consequatur
                            neque eligendi!
                            Voluptatibus quasi autem, impedit omnis nulla velit repellat recusandae.</p>
                        <div class="flex mt-2">
                            <i class="fa-regular fa-heart text-primary text-xl mr-2"></i>
                            <span class="text-gray-500 font-semibold font-poppins text-sm mx-4">350</span>
                            <span class="text-gray-500 font-semibold font-poppins text-sm">hace 1 mes</span>
                        </div>
                    </div>

                    <div class="card-comment mb-4">
                        <div class="flex items-center gap-4">
                            <img src="/assets/images/dalton.png" class="rounded-full w-12 mb-2" alt="">
                            <div>
                                <p class="font-poppins text-base font-semibold">Dalton Tejada</p>
                            </div>
                        </div>
                        <p class="text-justify font-roboto">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Suscipit impedit aliquam praesentium a odio nisi architecto voluptatum, accusantium consequatur
                            neque eligendi!
                            Voluptatibus quasi autem, impedit omnis nulla velit repellat recusandae.</p>
                        <div class="flex mt-2">
                            <i class="fa-regular fa-heart text-primary text-xl mr-2"></i>
                            <span class="text-gray-500 font-semibold font-poppins text-sm mx-4">350</span>
                            <span class="text-gray-500 font-semibold font-poppins text-sm">hace 1 mes</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADD COMMENT -->
            <div class="mb-14">
                <div class="flex items-center gap-4">
                    <img src="/assets/images/dalton.png" class="rounded-full w-12 mb-2" alt="">
                    <div class="w-full">
                        <div class="w-full">
                            <textarea class="w-full 
                            min-h-[110px]
                            max-h-[120px]
                            py-2 px-4 pr-10 
                            rounded-md border border-gray-400 
                            focus:outline-none focus:ring-2 
                            focus:ring-gray-400
                             focus:border-transparent" name="" id=""></textarea>
                        </div>
                        <button-action label="Comentar"> </button-action>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>