<div class="flex justify-center">


    <div class="w-full max-w-[790px]">
      <div class="mt-20">
        <div class="items-center mb-6 flex flex-col">
          <img src="/assets/images/dalton2.png" class="rounded-full w-36 mb-2" alt="">
          <p class="font-bold text-2xl font-poppins text-center mb-2">Dalton Tejada</p>
          <button
            class="w-[390px] focus:outline-none text-white bg-primary focus:ring-4 font-medium rounded-lg text-base px-5 py-2.5 me-2 mb-2">
            Editar perfil
          </button>
        </div>
  
        <div class="flex justify-center">
          <div class="mr-8 text-center">
            <div class="text-gray-400 font-semibold font-poppins text-sm">
              <span>Recetas</span>
            </div>
            <p class="text-xl font-poppins font-bold">2137</p>
          </div>
  
          <div class="mr-8 text-center">
            <div class="text-gray-400 font-semibold font-poppins text-sm">
              <span>Seguidores</span>
            </div>
            <p class="text-xl font-poppins font-bold">840</p>
          </div>
  
          <div class="text-center">
            <div class="text-gray-400 font-semibold font-poppins text-sm">
              <span>Siguiendo</span>
            </div>
            <p class="text-xl font-poppins font-bold">950</p>
          </div>
        </div>
      </div>

      
    <div class="mt-8 shadow-lg rounded-md w-[410px]">
        <div class="flex items-center p-2">
            <img src="/assets/images/dalton2.png" class="w-14 mr-2" alt="">
            <span class="font-bold font-poppins">Dalton tejada</span>
        </div>
        <img src="/assets/images/gato.png" class="w-full" alt="">
         <div class="p-2">
            <h1 class="font-poppins font-bold text-xl">Arroz con pollo</h1>
         </div>
    </div>


    </div>

  </div>